.primary-text{
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.5rem;
    font-weight: 300;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.20588em;
    text-align: center;
}

.primary-header{
    font-size: 30px;
    font-weight: 350;
    white-space: nowrap;
    letter-spacing: .7rem;
    color: #1976d2;
}

.container{
    margin: 30px;
}

.secondary-container{
    margin: 0 auto;
    margin-top: 100px;
}

.button-secondary {
    border: 2px solid #555555;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-secondary:hover {
    background-color: #555555;
    color: white;
}

.button-primary {
    border: 2px solid #555555;
    background-color: #555555;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-primary:hover {
    background-color: white;
    color: black;
    border: 2px solid white;
}

.classified-data-container {
    display: flex;
    justify-content: center;
    width: 770px;
    padding: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.classified-data-container-parent{
    overflow: hidden;
}

.content-classified-container{
    margin: 10px;
    width: 300px;
    border-radius: 6px;
    border: 1px solid #d9dde1;
    cursor: hand;
    padding: 20px 10px 10px;
}

.class-heading{
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.35417em;
}

.classified-box-long{
    height: 300px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.46429em;
    height: 400px;
    overflow: auto;
}

.classified-box, .classified-box-long {
    padding: 15px;
    width: 230px;
}

.text-centre{
    text-align: center;
}

.input-textarea{
    width: 400px;
    height: 150px;
    display: block;
    resize: none;
    padding: 20px;
    margin: 0 auto;
    font-size: 15px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,.04);
    border: none;
}

.trainClassfier-opacity{
    opacity: 0.2;
    filter: alpha(opacity=60);
}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 174px auto;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
    border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

.loader-container{
    height: 400px
}


.testclassfier-container{
    height: 100vh;
    width: 100%;
    background-color: #FAFAFA;
}

.dropzone{
    border: 2px dashed #C7CBCE;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-outline-primary {
    color: #1976d2;
    background-color: transparent;
    background-image: none;
    border-color: #1976d2;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}

.btn-lg {
    padding: .5rem 5rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

body{
    font-weight: 300;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.result-container{
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
    align-content: row;
}

.result-class{
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.result-confidence{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}